@charset "UTF-8";

/******************************
 *  typography */

/******************************* */

.panel__item-p1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}

.panel__item-p2,
.homepage-task__caption,
.button-flat,
.button,
body,
.paragraph2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.control input:not(:-moz-placeholder-shown) + span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 28px;
}

.control input:not(:-ms-input-placeholder) + span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 28px;
}

.dashboard-popup__list fieldset legend,
.panel__item-p3,
.homepage-task__property-value,
.homepage-task,
.control input:focus + span,
.control input:not(:placeholder-shown) + span,
.paragraph3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 28px;
}

.dashboard-popup__dashboard-popup__inspection,
.panel__item-c-primary,
.panel__item_active h6 {
  color: #6E41E2;
}

.dashboard-popup__list fieldset legend,
.homepage-toolbar__caption {
  color: #6B6B6B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  margin: 0;
}

h1 {
  font-size: 56px;
  line-height: 64px;
}

h2 {
  font-size: 48px;
  line-height: 56px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

h4 {
  font-size: 32px;
  line-height: 40px;
}

h5 {
  font-size: 24px;
  line-height: 32px;
}

h6 {
  font-size: 20px;
  line-height: 28px;
}

/******************************
 *   Элементы */

/******************************* */

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
  background-color: #FAFAFA;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #428BF9;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5835B0;
}

.scrollable-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.container-fluid > .row {
  min-height: 100vh;
}

/******************************
 *  buttons */

/******************************* */

.button {
  background-color: #6E41E2;
  color: white;
  width: 100%;
  height: 44px;
  border: none;
  cursor: pointer;
}

.button span {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.button:hover {
  background-color: #5835B0;
}

.button:active {
  background-color: #472C8A;
}

.button:focus {
  background-color: #6E41E2;
  border: 2px solid rgba(17, 17, 17, 0.48);
  box-sizing: border-box;
}

.button:disabled {
  background: #E3DAF9;
}

.button-label,
.button-label-icon,
.button-icon {
  border-radius: 4px;
}

.button-circle {
  border-radius: 100px;
}

.button-flat {
  color: #6E41E2;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

/******************************
 *  inputs */

/******************************* */

.control {
  position: relative;
}

.control span {
  color: rgba(17, 17, 17, 0.48);
  position: absolute;
  top: 16px;
  left: 16px;
  transition: 0.2s;
}

.control label {
  display: block;
}

.control input {
  display: block;
  outline: none;
  width: 100%;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
  padding: 16px;
  border-radius: 4px;
  border: none;
  height: 56px;
  box-sizing: border-box;
  color: #111;
}

.control input:hover {
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 24px rgba(51, 51, 51, 0.24);
}

.control input:not(:-moz-placeholder-shown) {
  padding: 26px 16px 6px 16px;
}

.control input:not(:-ms-input-placeholder) {
  padding: 26px 16px 6px 16px;
}

.control input:focus,
.control input:not(:placeholder-shown) {
  padding: 26px 16px 6px 16px;
}

.control input:not(:-moz-placeholder-shown) + span {
  top: 6px;
  left: 16px;
}

.control input:not(:-ms-input-placeholder) + span {
  top: 6px;
  left: 16px;
}

.control input:focus + span,
.control input:not(:placeholder-shown) + span {
  top: 6px;
  left: 16px;
}

.control input:disabled {
  opacity: 0.24;
}

.control input:disabled + span {
  opacity: 0.24;
}

.control_error input {
  background-color: #F9E3E3;
  box-shadow: 0 4px 4px rgba(255, 196, 196, 0.04), 0 4px 12px rgba(255, 196, 196, 0.24);
}

.control_success input {
  background-color: #CBECD9;
  box-shadow: 0 4px 4px rgba(39, 174, 96, 0.04), 0 4px 40px rgba(39, 174, 96, 0.24);
}

.control_control-autofill input {
  background-color: #FFF5C0;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
}

.customized input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customized {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #E3DAF9;
}

.customized input:hover ~ .checkmark {
  background-color: #5835B0;
}

.customized input:checked ~ .checkmark {
  background-color: #6E41E2;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.customized input:checked ~ .checkmark:after {
  display: block;
}

.customized .checkmark:after {
  left: 8px;
  top: 3px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/****************************** */

/******************************* */

.login-page__logo {
  padding-top: 18%;
}

.login-page__caption {
  min-width: 500px;
  max-width: 500px;
}

.login-page__left-column {
  background-size: contain;
  background: url(/images/login.png?5436eead3ccae2151bb4fa9fd59366a1) no-repeat;
  max-width: 1280px;
}

.login-page__right-column {
  background-color: #FAFAFA;
  min-width: 500px;
}

.login-page h5 {
  text-align: center;
}

.login-page__form-wrapper {
  margin-top: 70px;
}

.login-page__form {
  padding: 25px;
  margin: 0 auto;
  box-shadow: 0 4px 4px rgba(51, 51, 51, 0.04), 0 4px 16px rgba(51, 51, 51, 0.08);
  border-radius: 8px;
  max-width: 480px;
  background-color: #FFFFFF;
}

/****************************** */

/******************************* */

.homepage-toolbar {
  height: 64px;
  box-shadow: 0 1px 0 rgba(17, 17, 17, 0.1);
  background-color: #FFFFFF;
  max-height: 64px;
}

.homepage-toolbar__image {
  height: 40px;
  max-width: 54px;
  margin-left: 15px;
  padding-right: 5px;
}

.homepage-toolbar__caption {
  max-width: 345px;
}

.homepage-toolbar__profile-wrapper {
  max-width: 80px;
  margin-right: 30px;
}

.homepage-content,
.map {
  width: 100%;
  height: 100%;
}

.homepage__left-column {
  min-width: 444px;
  max-width: 444px;
}

.homepage-scrollable {
  height: calc(100vh - 144px);
  overflow-y: auto;
  overflow-x: hidden;
}

.homepage__right-column {
  min-width: 300px;
}

.homepage-work-panel {
  height: 80px;
}

.homepage-work-panel__caption {
  margin-left: 18px;
}

.homepage-work-panel__tool-buttons svg {
  margin-right: 10px;
  cursor: pointer;
}

.homepage__task-wrapper div.homepage-task {
  margin-top: 8px;
}

.homepage-task {
  border: 2px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 16px 16px 12px 16px;
}

.homepage-task__caption h6 {
  display: inline;
}

.homepage-task_active {
  border: 2px solid #6E41E2;
}

.homepage-task_active .homepage-task__caption {
  color: #6E41E2;
}

.homepage-task__information {
  margin-top: 10px;
}

.homepage-task__row {
  margin-top: -4px;
}

.homepage-task__property-caption {
  color: #6B6B6B;
  padding: 0 0 0 15px;
}

.homepage-task__category {
  color: #6E41E2;
}

.homepage-task__property-value_done {
  color: #27AE60;
}

.homepage-task__property-value_testing {
  color: #F9B042;
}

.homepage-task__property-value_alert {
  color: #C7302B;
}

.homepage-task__property-value_in-progress {
  color: #428BF9;
}

.homepage-task__property-stars {
  margin-left: auto;
  text-align: right;
}

/* /* */

.panel {
  min-width: 444px;
  max-width: 444px;
  background-color: #FFFFFF;
}

.panel__toolbar {
  height: 80px;
}

.panel__toolbar-caption {
  margin-left: 18px;
}

.panel__toolbar-buttons {
  text-align: right;
}

.panel__toolbar-buttons svg {
  margin-right: 10px;
  cursor: pointer;
}

.panel__content {
  height: calc(100vh - 208px);
  overflow-y: auto;
  overflow-x: hidden;
}

.panel__content-wrapper div {
  margin-top: 0;
}

.panel__footer {
  height: 64px;
}

.panel__item-delete-button {
  max-width: 24px;
  max-height: 24px;
  cursor: pointer;
}

.panel__item {
  border: 2px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
}

.panel__item-wrapper {
  padding: 0 16px 8px 16px;
}

.panel__item_active {
  border: 2px solid #6E41E2;
}

.panel__checkbox {
  width: 24px;
  height: 24px;
}

/************
 *  DASHBOARD FOR DEPARTMENT */

/*************** */

.dashboard-popup {
  max-height: 700px;
  top: 20%;
  left: 40%;
}

.dashboard-popup_scrollable {
  max-height: 436px;
}

.dashboard-popup__photo {
  max-width: 48px;
  padding: 0;
}

.dashboard-popup__change-button {
  max-width: 66px;
  padding-right: 16px;
}

.dashboard-popup__inspection-caption {
  max-width: 86px;
}

.dashboard-popup__cart {
  background-color: #FAFAFA;
  padding-top: 16px;
  padding-bottom: 16px;
}

.dashboard-popup__list fieldset legend {
  border: none;
  margin-left: 16px;
}

/************
 *  POPUP COMMON */

/*************** */

.popup__window {
  position: absolute;
  background: #FFFFFF;
  max-width: 481px;
  min-width: 481px;
}

.popup__window .row {
  margin-left: 0;
  margin-right: 0;
}

.popup__caption {
  height: 56px;
}

.popup__close-button {
  max-width: 40px;
}

.popup__footer-button {
  padding: 0 16px 16px 16px;
}

